<header class="toolbar" role="banner">
  <button mat-icon-button class="menu-button" (click)="onToggleDrawer()">
    <i class="fi fi-br-menu-burger"></i>
  </button>
  <img width="40" alt="Angular Logo" src="assets/logo.svg" class="marca" />
  <span class="title">RentHouse</span>
  <div class="spacer"></div>
  <button mat-raised-button class="button-color" (click)="openPublishPopup()">
    <i class="fi fi-sr-house-chimney-medical"></i> Anunciar
  </button>
  <button mat-raised-button class="button-color" [matMenuTriggerFor]="menu" *ngIf="login">
    <i class="fi fi-rs-user-gear"></i> Minha conta</button>
  <button mat-raised-button class="button-color" (click)="openLoginPopup()" *ngIf="!login">
    <i class="fi fi-sr-id-card-clip-alt"></i> Entrar
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="buttonUserActions"><i class="fi fi-rs-user-pen"></i> Editar conta</button>
    <button mat-menu-item class="buttonUserActions"><i class="fi fi-rs-house-chimney"></i> Meus anúncios</button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="buttonUserActions"><i class="fi fi-rs-sign-out-alt"></i> Logoff</button>
  </mat-menu>
</header>