<mat-toolbar class="toolbarHeader">
  <div class="toolbarContent">
    <span class="toolbarTitle">Meus anúncios</span>
    <button mat-icon-button class="closeButton" (click)="emitCloseEvent()">
      <i class="fi fi-rr-cross-small"></i>
    </button>
  </div>
</mat-toolbar>

<mat-list class="listProperties">
  <mat-list-item *ngFor="let house of properties" class="listItem">
    <div class="photoSlot">
      <img [src]="getThumbnailPath(house)" alt="House Image" class="photoitem">
    </div>

    <div class="itemContent">
      <div class="listItemContent">
        <div class="topSection">
          <h1 matLine class="nameProperty">{{ house.name }}</h1>
          <p matLine class="mainInformations">{{ house.type }} | R$ {{ formatLabel(house.price) }}
          </p>
          <a class="addressInformation">{{ house.description }}</a>
        </div>

        <div class="bottomSection">
          <a class="addressInformation"><i class="fi fi-rr-map-marker"></i> {{ getAddress(house) }}</a>
          <div class="iconsCard">
            <div class="iconsItem"><i class="fi fi-rr-ruler-combined"></i> {{ house.totalarea + 'm²' }}</div>
            <div class="iconsItem"><i class="fi fi-rr-bed"></i> {{ house.bedrooms }}</div>
            <div class="iconsItem"><i class="fi fi-rr-hot-tub"></i> {{ house.bathrooms }}</div>
            <div class="iconsItem"><i class="fi fi-rr-garage-car"></i> {{ house.cargarage }}</div>
          </div>
        </div>
      </div>

      <div class="buttonSection">
        <button mat-button class="buttonCard" color="primary" (click)="openEditPopup()"><i class="fi fi-rs-edit"></i>
          Editar anuncio</button>
        <button mat-button class="buttonCard" color="accent"><i class="fi fi-rs-sign-hanging"></i> Mudar status para
          "{{'Alugado' || 'Disponível'}}"</button>
      </div>
    </div>
  </mat-list-item>
</mat-list>