@import '/src/styles.scss';
@import '@flaticon/flaticon-uicons/css/all/all.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.listProperties {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  padding: 16px;
}

.listItem {
  display: flex !important;
  align-items: flex-start !important;
  height: 185.8px !important;
  width: 100% !important;
  padding: 0 !important;
  margin-bottom: 16px !important;
  margin-top: 16px !important;
  color: gainsboro !important;
  background-color: $primary !important;
  box-shadow: 2px 2px 6px rgb(0, 0, 0) !important;
  border-radius: 8px !important;
}

.photoSlot {
  flex-shrink: 0;
  margin-right: 32px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 285px;
  height: 100%;
  float: left;
}

.photoitem {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.itemContent {
  max-height: 170px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.listItemContent {
  flex: 1;
  margin-left: 16px;
}

.topSection {
  display: flex;
  flex-direction: column;
}

.nameProperty {
  font-size: 24px !important;
}

.mainInformations {
  font-size: 18px !important;
  margin-bottom: 8px;
}

.addressInformation {
  font-size: 18px !important;
}

.bottomSection {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.iconsCard {
  color: $button;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 4px;
}

.iconsItem {
  font-size: 16px !important;
  margin-right: 16px;
}

.buttonSection {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.buttonCard {
  background-color: transparent;
  color: $button;
  margin: 4px;
  font-size: 18px !important;
}

::ng-deep .listProperties .mat-list-item .mat-list-item-content {
  padding: 0 !important;
  width: 100%;
}

@media screen and (max-width: 1360px) {
  .nameProperty {
    font-size: 20px !important;
  }

  .mainInformations {
    font-size: 16px !important;
  }

  .addressInformation {
    font-size: 16px !important;
  }

  .buttonCard {
    font-size: 16px !important;
  }

  .iconsItem {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1024px) {
  .nameProperty {
    font-size: 18px !important;
  }

  .mainInformations {
    font-size: 14px !important;
  }

  .addressInformation {
    font-size: 14px !important;
  }

  .buttonCard {
    font-size: 14px !important;
  }

  .iconsItem {
    font-size: 12px !important;
  }
}