<mat-toolbar class="toolbarHeader">
  <div class="toolbarContent">
    <span class="toolbarTitle">Contactar o anunciante</span>
    <button mat-icon-button mat-dialog-close class="closeButton">
      <i class="fi fi-rr-cross-small"></i>
    </button>
  </div>
</mat-toolbar>

<mat-list class="listContacts">
  <mat-list-item class="contactItem">
    <p class="contactTextContainer">
      <i class="fi fi-brands-whatsapp"></i>
      <a class="contactText">5531997746798</a>
    </p>
  </mat-list-item>
  <mat-list-item class="contactItem">
    <p class="contactTextContainer">
      <i class="fi fi-rr-envelope"></i>
      <a class="contactText">brenostarling1@hotmail.com</a>
    </p>
  </mat-list-item>
  <mat-list-item class="contactItem">
    <p class="contactTextContainer">
      <i class="fi fi-rr-phone-call"></i>
      <a class="contactText">5531997746798</a>
    </p>
  </mat-list-item>
</mat-list>