@import '/src/styles.scss';
@import '@flaticon/flaticon-uicons/css/all/all.css';

.listContacts {
  padding: 24px 0;
  width: 30vw
}

.contactItem {
  width: 100%
}

.contactTextContainer {
  font-size: 20px;
  width: 100%;
  color: gainsboro
}

.contactText {
  font-size: 20px;
  width: 100%;
  color: gainsboro;
  margin-left: 16px;
}