/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/core/theming/_theming';

$primary: #202225;
$secondary: #2f3136;
$terciary: #36393f;
$dialog: #31343a;
$button: #3f51b5;

.mat-dialog-container {
  background-color: $dialog;
}

.primary {
  background-color: $primary;
}

.secondary {
  background-color: $secondary;
}

.button-color {
  background-color: $button;
  color: gainsboro;
  margin: 4px;
}

.button-fullwidth {
  background-color: $button;
  color: gainsboro;
  margin: 4px;
  width: 95%;
}

.menu-button {
  color: $button;
  font-size: 20px;
}

.mat-select-value {
  color: gainsboro !important;
}

.mat-primary .mat-form-field-label {
  color: gainsboro;
}

.dialogDefault {
  background-color: $primary;
}

.toolbarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  font-size: 32px;
  height: 44px;
  color: $button;
}

.toolbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.toolbarTitle {
  flex: 1;
  text-align: center;
}

.closeButton {
  font-size: 32px;
}

::ng-deep .mat-select-panel {
  background-color: $terciary;
}

.mat-slider-thumb-label {
  white-space: normal;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3c4994;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $button;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}