@import '/src/styles.scss';
@import '@flaticon/flaticon-uicons/css/all/all.css';

.user-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.form-row {
  width: 100%;
  margin-bottom: 16px;
}

.form-field {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}