@import '/src/styles.scss';
@import '@flaticon/flaticon-uicons/css/all/all.css';

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $terciary;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $primary;
  color: white;
  font-weight: 600;
  z-index: 2;
}

.content {
  z-index: 1;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.sidenav {
  z-index: 1;
  width: 15%;
  padding: 12px;
  background-color: $secondary;
  color: gainsboro;
}

.marca {
  padding-left: 10px;
}

.title {
  padding-left: 10px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.toolbar-filter {
  background-color: $secondary;
  color: $button;
  padding-bottom: 12px;
  font-size: 32px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formFilters {
  flex-grow: 1;
  overflow-y: auto;
}

.fixed-drawer .toolbar-filter {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fixed-drawer .formFilters {
  overflow-y: auto;
  max-height: 100vh;
}

.button-wrapper {
  position: sticky;
  background-color: $secondary;
  bottom: 0;
  z-index: 1;
  padding: 16px 16px 0 16px;
}

.toolbar-filter {
  position: sticky;
  top: 0;
  z-index: 1;
}

.listProperties {
  width: 100%;
  height: 100vh;
  padding: 16px;
}

::ng-deep .listProperties .mat-list-item .mat-list-item-content {
  padding: 0 !important;
  width: 100%;
}

.listItem {
  display: flex !important;
  align-items: flex-start !important;
  height: 185.8px !important;
  width: 98% !important;
  padding: 0 !important;
  margin-bottom: 16px !important;
  margin-top: 16px !important;
  color: gainsboro !important;
  background-color: $primary !important;
  box-shadow: 2px 2px 6px rgb(0, 0, 0) !important;
  border-radius: 8px !important;
}

.photoSlot {
  margin-right: 32px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 285px;
  height: 100%;
  float: left;
}

.photoitem {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nameProperty {
  font-size: 24px !important;
}

.mainInformations {
  font-size: 18px !important;
  margin-bottom: 8px;
}

.addressInformation {
  font-size: 18px !important;
}

.buttonCard {
  background-color: transparent;
  color: $button;
  margin: 4px;
  font-size: 18px !important;
}

.iconsItem {
  font-size: 16px !important;
  margin-right: 16px;
}

.iconsCard {
  color: $button;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 4px;
}

.listItemContent {
  flex: 1;
  margin-left: 16px;
}

.itemContent {
  max-height: 170px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.buttonSection {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.topSection {
  display: flex;
  flex-direction: column;
}

.bottomSection {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.textGainsboro {
  color: gainsboro !important
}

/* Estilos responsivos */
@media screen and (max-width: 1360px) {
  .nameProperty {
    font-size: 20px !important;
  }

  .mainInformations {
    font-size: 16px !important;
  }

  .addressInformation {
    font-size: 16px !important;
  }

  .buttonCard {
    font-size: 16px !important;
  }

  .iconsItem {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1024px) {
  .nameProperty {
    font-size: 18px !important;
  }

  .mainInformations {
    font-size: 14px !important;
  }

  .addressInformation {
    font-size: 14px !important;
  }

  .buttonCard {
    font-size: 14px !important;
  }

  .iconsItem {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 767px) {

  .card-container>*:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}