<div class="container">
  <header class="toolbar" role="banner">
    <button mat-icon-button class="menu-button" (click)="drawer.toggle()">
      <i class="fi fi-br-menu-burger"></i>
    </button>
    <img width="40" alt="Angular Logo" src="assets/logo.svg" class="marca" />
    <span class="title">RentHouse</span>
    <div class="spacer"></div>
    <button mat-raised-button class="button-color" (click)="openPublishPopup()">
      <i class="fi fi-sr-house-chimney-medical"></i> Anunciar
    </button>
    <button mat-raised-button class="button-color" (click)="openLoginPopup()">
      <i class="fi fi-sr-id-card-clip-alt"></i> Entrar
    </button>
  </header>

  <mat-drawer-container class="container" [formGroup]="formGroup">
    <mat-drawer #drawer class="sidenav" mode="side" opened>
      <mat-toolbar class="toolbar-filter">
        <span>Filtros</span>
      </mat-toolbar>

      <div class="formFilters">
        <mat-form-field class="example-form-field">
          <mat-label class="mat-primary">Tipo de imóvel</mat-label>
          <mat-select [formControl]="types" multiple>
            <mat-option *ngFor="let type of typeList" [value]="type" class="custom-option">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Preço mínimo</mat-label>
          <input matInput placeholder="500.00" formControlName="minprice">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Preço máximo</mat-label>
          <input matInput placeholder="500.00" formControlName="maxprice">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="12345-678" formControlName="zipcode" (blur)="searchAddress()">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Rua</mat-label>
          <input matInput placeholder="Rua Um" formControlName="street">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Bairro</mat-label>
          <input matInput placeholder="Copacabana" formControlName="neighborhood">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Rio de Janeiro" formControlName="city">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="RJ" formControlName="state">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label class="mat-primary">Quartos</mat-label>
          <mat-select [formControl]="bedrooms">
            <mat-option class="textGainsboro"></mat-option>
            <mat-option class="textGainsboro" *ngFor="let bedrooms of bedroomsList"
              [value]="bedrooms">{{bedrooms}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Banheiros</mat-label>
          <mat-select [formControl]="bathrooms">
            <mat-option class="textGainsboro"></mat-option>
            <mat-option class="textGainsboro" *ngFor="let bathrooms of bathroomsList"
              [value]="bathrooms">{{bathrooms}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Vagas de garagem</mat-label>
          <mat-select [formControl]="carParks">
            <mat-option class="textGainsboro"></mat-option>
            <mat-option class="textGainsboro" *ngFor="let carParks of carParksList"
              [value]="carParks">{{carParks}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Mobiliado ?</mat-label>
          <mat-select [formControl]="furniture">
            <mat-option class="textGainsboro"></mat-option>
            <mat-option class="textGainsboro" *ngFor="let furniture of furnitureList"
              [value]="furniture">{{furniture}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Pets permitidos ?</mat-label>
          <mat-select [formControl]="pets">
            <mat-option class="textGainsboro"></mat-option>
            <mat-option class="textGainsboro" *ngFor="let pets of petsList" [value]="pets">{{pets}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="button-wrapper">
        <button mat-raised-button class="button-fullwidth"><i class="fi fi-br-search"></i> Filtrar</button>
      </div>
    </mat-drawer>


    <div class="content">
      <mat-list class="listProperties">

        <mat-list-item *ngFor="let house of properties" class="listItem">
          <div class="photoSlot">
            <img [src]="getThumbnailPath(house)" alt="House Image" class="photoitem">
          </div>

          <div class="itemContent">
            <div class="listItemContent">
              <div class="topSection">
                <h1 matLine class="nameProperty">{{ house.name }}</h1>
                <p matLine class="mainInformations">{{ house.type }} | R$ {{ (house.price).toFixed(2).replace('.', ',')
                  }}
                </p>
                <a class="addressInformation">{{ house.description }}</a>
              </div>

              <div class="bottomSection">
                <a class="addressInformation"><i class="fi fi-rr-map-marker"></i> {{ getAddress(house) }}</a>
                <div class="iconsCard">
                  <div class="iconsItem"><i class="fi fi-rr-ruler-combined"></i> {{ house.totalarea + 'm²' }}</div>
                  <div class="iconsItem"><i class="fi fi-rr-bed"></i> {{ house.bedrooms }}</div>
                  <div class="iconsItem"><i class="fi fi-rr-hot-tub"></i> {{ house.bathrooms }}</div>
                  <div class="iconsItem"><i class="fi fi-rr-garage-car"></i> {{ house.cargarage }}</div>
                </div>
              </div>
            </div>

            <div class="buttonSection">
              <button mat-button class="buttonCard" color="primary"><i class="fi fi-rr-eye"></i> Ver mais</button>
              <button mat-button class="buttonCard" color="accent"><i class="fi fi-rr-paper-plane"></i> Entrar em
                contato</button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer-container>
  <router-outlet></router-outlet>
</div>