@import '/src/styles.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $terciary;
}

.sidenav {
  z-index: 1;
  width: 15%;
  padding: 12px;
  background-color: $secondary;
  color: gainsboro;
}

.content {
  z-index: 1;
  width: 100%;
  flex: 1;
  overflow: auto;
}

::ng-deep .mat-form-field {
  color: gainsboro !important;
}