@import '/src/styles.scss';
@import '@flaticon/flaticon-uicons/css/all/all.css';

.container {
  width: 78vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.type {
  color: gainsboro;
  font-size: 24px;
  margin-bottom: 24px;
  margin-left: 12px;
}

.description {
  color: gainsboro;
  font-size: 22px;
  margin-bottom: 24px;
  margin-left: 12px;
}

.address {
  color: gainsboro;
  font-size: 22px;
  margin-left: 12px;
}

.icons {
  display: flex;
  flex-direction: row;
  color: gainsboro;
  font-size: 22px;
  margin-left: 12px;
}

.icon {
  color: $button;
  font-size: 24px;
}

.iconItem {
  margin-right: 24px;
}

.buttonCard {
  font-size: 24px;
}

.photos {
  width: 100%;
  margin: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 640px;
  height: 360px;
  border-radius: 12px;
}

.buttonCard {
  font-size: 24px;
  margin-top: auto;
}

.arrowRight {
  font-size: 24px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  z-index: 2;
}

.arrowLeft {
  font-size: 24px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  z-index: 2;
}